<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>716F9FCA1C0DB42C00BA1791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>716F9FE31C0DB42D00BA1791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>716F9FEE1C0DB42D00BA1791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
